<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>068A6E68-1CC5-4F1F-9BCA-7698133129FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E43C4A9B-7C5F-46E4-8E4E-FA42DE7E6C5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>65356F94-02AC-4F0A-BE74-AC5BA6C21ACE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB03958E-B7CC-45D0-BE0D-91D477062B8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>78744D1E-A58F-4FB2-B386-D15B93DA4D5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB03958E-B7CC-45D0-BE0D-91D477062B8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>88F0A88F-5F2E-4CD5-8460-6E5649F4FF83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB03958E-B7CC-45D0-BE0D-91D477062B8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B110EBCC-3E90-461B-B114-9DE6DEB055AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1AC7C4E-D4D2-4137-B57E-D38C453640BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DB03958E-B7CC-45D0-BE0D-91D477062B8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BE2A801-597B-46E6-A3FA-B4BF3BE40540</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E1AC7C4E-D4D2-4137-B57E-D38C453640BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCD9FDD9-FF1C-4CA4-ACBF-70E9B770B8F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E43C4A9B-7C5F-46E4-8E4E-FA42DE7E6C5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B97C7616-3B66-45A7-BF10-F488B399021B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Spencer Ewall</string>
	<key>description</key>
	<string>Scripts for hiding and revealing files in the finder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hidden Files</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hidall</string>
				<key>subtext</key>
				<string>Toggles finder visibility of all hidden files on/off (system flags are unaffected)</string>
				<key>text</key>
				<string>Toggle Hidden File Visibility</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>068A6E68-1CC5-4F1F-9BCA-7698133129FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash filerevealer.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E43C4A9B-7C5F-46E4-8E4E-FA42DE7E6C5C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Hidden files are {query} in the Finder.</string>
				<key>title</key>
				<string>Hidden Files</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B97C7616-3B66-45A7-BF10-F488B399021B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Toggle Hidden</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>65356F94-02AC-4F0A-BE74-AC5BA6C21ACE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<false/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemInvisibleFileType</string>
						<key>not</key>
						<true/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>1</string>
						<key>words</key>
						<false/>
					</dict>
				</array>
				<key>includesystem</key>
				<true/>
				<key>keyword</key>
				<string>hid file</string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Hides the file from the Finder. (adds system flag  'hidden')</string>
				<key>title</key>
				<string>Hide File</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>88F0A88F-5F2E-4CD5-8460-6E5649F4FF83</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query} in the Finder.</string>
				<key>title</key>
				<string>Hidden Files</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7BE2A801-597B-46E6-A3FA-B4BF3BE40540</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>IFS== read mdname mdvalue &lt;&lt;&lt; "$(mdls -name kMDItemInvisibleFileType {query})"

#remove leading and trailing whitespace
mdvalue="${mdvalue#"${mdvalue%%[![:space:]]*}"}"
mdvalue="${mdvalue%"${mdvalue##*[![:space:]]}"}"

if [ "$mdvalue" = "1" ]
then
	chflags nohidden {query}
	python -c "import log_manager
log_manager.log_unhide('{query}')"
	echo "{query} has been unhidden"
else
	chflags hidden {query}
	python -c "import log_manager
log_manager.log_hide('{query}')"
	echo "{query} has been hidden"
fi

killall Finder</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB03958E-B7CC-45D0-BE0D-91D477062B8F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<false/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemInvisibleFileType</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>1</string>
						<key>words</key>
						<false/>
					</dict>
				</array>
				<key>includesystem</key>
				<true/>
				<key>keyword</key>
				<string>unhid file</string>
				<key>scopes</key>
				<array>
					<string>/</string>
				</array>
				<key>subtext</key>
				<string>Unhides the selected file from the finder. (removes system flag 'hidden')</string>
				<key>title</key>
				<string>Unhide File</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>78744D1E-A58F-4FB2-B386-D15B93DA4D5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemInvisibleFileType</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>1</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<true/>
				<key>keyword</key>
				<string>hid find</string>
				<key>scopes</key>
				<array>
					<string>/</string>
					<string>~</string>
				</array>
				<key>title</key>
				<string>Finds hidden and other system files</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>8CD149E7-1683-439D-B198-AC43B7267FE7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>CCD9FDD9-FF1C-4CA4-ACBF-70E9B770B8F1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>hid log</string>
				<key>subtext</key>
				<string>Displays a log of recent hiding and unhiding activity.</string>
				<key>text</key>
				<string>Show Activity Log</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B110EBCC-3E90-461B-B114-9DE6DEB055AC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>with open('hidden.log') as log:
    print log.read()</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E1AC7C4E-D4D2-4137-B57E-D38C453640BD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>068A6E68-1CC5-4F1F-9BCA-7698133129FF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>65356F94-02AC-4F0A-BE74-AC5BA6C21ACE</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>78744D1E-A58F-4FB2-B386-D15B93DA4D5F</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>7BE2A801-597B-46E6-A3FA-B4BF3BE40540</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>88F0A88F-5F2E-4CD5-8460-6E5649F4FF83</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8CD149E7-1683-439D-B198-AC43B7267FE7</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>B110EBCC-3E90-461B-B114-9DE6DEB055AC</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>B97C7616-3B66-45A7-BF10-F488B399021B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CCD9FDD9-FF1C-4CA4-ACBF-70E9B770B8F1</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>DB03958E-B7CC-45D0-BE0D-91D477062B8F</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>E1AC7C4E-D4D2-4137-B57E-D38C453640BD</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>E43C4A9B-7C5F-46E4-8E4E-FA42DE7E6C5C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
